PORT=3000
NODE_ENV=development

# Database Dialect: sqlite | postgres | mysql
DB_DIALECT=sqlite
DB_STORAGE=database.sqlite
DB_LOGGING=true
DB_FORCE_SYNC=false

# If using Postgres/MySQL, configure these:
DB_NAME=recipe_db
DB_USER=root
DB_PASSWORD=secret
DB_HOST=127.0.0.1
DB_PORT=5432
